
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$demo2-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($demo2-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($demo2-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($demo2-theme);
/* You can add global styles to this file, and also import other style files */


// Global icon font
@import "../public/fonts/feather/style.css";


// 3rd party plugins
@import "highlight.js/styles/atom-one-light.css";
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "animate.css/animate.min.css"; // used in ngx-owl-carousel-o
@import "@ng-select/ng-select/themes/default.theme.css";
@import "metismenujs/scss/metismenujs";
@import "dropzone/dist/min/dropzone.min.css";
@import "quill/dist/quill.snow.css";
@import "@rg-software/angular-archwizard/styles/archwizard";
@import "@siemens/ngx-datatable/index";
@import "@siemens/ngx-datatable/themes/bootstrap";
@import "@siemens/ngx-datatable/assets/icons";


// NobleUI styles for LTR layout
@import "./styles/styles.scss";

// NobleUI styles for RTL layout. Replace the above style with this CSS file to enable RTL styles
// @import "./styles/rtl-css/styles.rtl.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }